<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/master.css' %}">

    <title>Creators Page!</title>
  </head>
  <body>
    <div class="page page1">
      Page 1
    </div>
    <div class="page page2">
      Page 2
    </div>
  <script src="{% static 'app/master.js' %}"></script>

  </body>
</html>





