body {
    background-color: #bbb;
    margin:0;
    padding:0;
}

.page{
    margin:0;
    padding: 0;
    width:100%;
}

.page1{
    width:600px;
    padding:20px;
    background-color:#999;
    margin:auto auto !important;
}

